.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: $container-padding-y $container-padding-x;
  border: 1px $border-color solid;
}

.header-title {
  text-align: center;
}

.header-nav, .user-access-ul {
  @extend .flex-row-center
}

.user-access-ul {
  li {
    margin: auto 2px;
  }
}

.access-btn__register {
  @include btn-variant($white, $primary-color);
}

.access-btn__login {
  @include btn-variant($primary-color,$body-bg);
}



