@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin btn-variant($color,$bg-color,$padding-x:40px, $padding-y:8px) {
  color: $color;
  background-color: $bg-color;
  border-radius: 20px;
  border:1px $primary-color solid;
  padding: $padding-y $padding-x;
}